<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khy.mapper.MessageMapper">

	<sql id="Base_Column_List">
		id, title, content, create_time
	</sql>
	
	
	<select id="list" parameterType="com.khy.entity.Message" resultType="com.khy.entity.Message">
		select 
			<include refid="Base_Column_List"/>
		from
			t_message
		<where>
			<if test="null != title and title != '' ">
				title like concat('%',#{title},'%')			
			</if>
		</where>
			ORDER BY create_time DESC
	</select>
	
	<select id="findByKey" parameterType="java.lang.Long" resultType="com.khy.entity.Message">
		select 
			<include refid="Base_Column_List"/>
		from
			t_message
		where
			id = #{id}
		limit 1
	</select>
	
	
<insert id="insert" parameterType="com.khy.entity.Message">
	insert into t_message
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="title != null">
			title,
		</if>
		<if test="content != null">
			content,
		</if>
		<if test="createTime != null">
			create_time,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="title != null">
			#{title,jdbcType=VARCHAR},
		</if>
		<if test="content != null">
			#{content,jdbcType=LONGVARCHAR},
		</if>
		<if test="createTime != null">
			#{createTime,jdbcType=TIMESTAMP},
		</if>
	</trim>
</insert>

<update id="update" parameterType="com.khy.entity.Message">
	update
		t_message
	<set>
		<if test="null != title and title != '' ">
			title = #{title},
		</if>
		<if test="null != content and content != '' ">
			content = #{content}
		</if>
	</set>
	where id =#{id}
</update>

<delete id="delete" parameterType="java.lang.Long">
	delete from t_message where id = #{id}
</delete>

</mapper>