<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-/mybatis.org//DTD Config 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-config.dtd">   

<configuration>
 <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <setting name="mapUnderscoreToCamelCase" value="true" />  
    </settings>
    
    
     <plugins>
		<!-- 分页插件-->
		 <plugin interceptor="com.github.pagehelper.PageInterceptor">
			 <property name="helperDialect" value="mysql" />
			 <property name="reasonable" value="true" />
			 <property name="params" value="count=countSql" />
			 <property name="autoRuntimeDialect" value="true" />
		 </plugin>
	 </plugins>
</configuration>