<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khy.mapper.UserInviterMapper">

  <insert id="insert" parameterType="com.khy.entity.UserInviter">
    insert into t_user_inviter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="invitedUid != null">
        invited_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="invitedUid != null">
        #{invitedUid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <select id="listUserInviterByUid" parameterType="java.lang.String" resultType="com.khy.mapper.dto.UserInviterDTO">
  	SELECT
		tui.uid,
		tui.invited_uid,
		tui.create_time,
		tu.phone,
		tu.commission,
		tu.img,
		CASE 
		WHEN(tu.is_vip=0) 
		THEN '普通会员' 
		WHEN(tu.is_vip=1) 
		THEN "VIP会员" 
		END AS isVip		
	FROM
		t_user_inviter tui,
		t_user tu
	WHERE
		tui.invited_uid = tu.uid
	AND tui.uid = #{uid}
	ORDER BY
		tui.create_time DESC
  </select>
</mapper>